<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "blog-header.html" . }}
  <body>
    {{ "<!-- Wrapper -->" | safeHTML }}
    <div id="wrapper">
      {{ partial "nav.html" . }} {{ "<!-- Main -->" | safeHTML }}
      <div id="main" class="alt">
        <section id="banner" class="style2 center-image">
          <div class="inner">
            {{ if .Params.image }}
            <span class="image">
              <img
                src="{{ .Site.Params.cdnbaseurl }}img/{{ .Params.image }}"
                alt="defaultSingleImage"
              />
            </span>
            {{ end }}
            <header class="major">
              <h1>{{ .Title }}</h1>
            </header>
              <h4>{{ .Params.subhead }}</h4>
              <a href="{{ .Site.Params.baseURLInternal }}trainings/">Zurück zur Übersicht</a>
            </p>
          </div>
        </section>

        <!-- One -->
        <section id="one">
          <div class="inner">

            {{ if .Params.logo1 }}
              <div class="center-space-around">
                {{ range .Params.logo1 }}
                  <img
                    src="{{ $.Site.Params.cdnbaseurl }}img/{{ . }}"
                    class="responsive"
                    alt="{{ $.Title }}"
                  />
                {{ end }}
              </div>
            {{ end }}

            {{ .Content }}

            <h2>Auch interessant</h2>
            <ul>
               {{ range first 5 (shuffle (where (where .Site.Pages "Params.category" "training") "Title" "!=" .Title )) }}
                  <li><a href="{{ .RelPermalink }}">{{.Title}}</a></li>
              {{end}}
            </ul>

             {{ if .Params.logo2 }}
              <div class="center-space-around">
                {{ range .Params.logo2 }}
                  <img
                    src="{{ $.Site.Params.cdnbaseurl }}img/{{ . }}"
                    class="responsive max-width-70"
                    alt="{{ $.Title }}"
                  />
                {{ end }}
              </div>
            {{ end }}


            {{ partial "contact-full-width.html" . }}
          </div>
        </section>

        
      </div>

      {{ "<!-- Footer -->" | safeHTML}} {{ if .Site.Params.footer.enable }} {{ partial "footer.html" . }} {{ end }}
    </div>

    {{ "<!-- Scripts -->" | safeHTML}} {{ partial "js.html" . }}
  </body>
</html>
