<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "blog-header.html" . }}
  <body>
    {{ "<!-- Wrapper -->" | safeHTML }}
    <div id="wrapper">
      {{ partial "nav.html" . }} {{ "<!-- Main -->" | safeHTML }}
      <div id="main" class="alt">
        <section id="banner" class="style2 center-image">
          <div class="inner">
            {{ if .Params.image }}
            <span class="image">
              <img
                src="{{ .Site.Params.cdnbaseurl }}img/{{ .Params.image }}"
                alt="defaultSingleImage"
              />
            </span>
            {{ end }}
            <header class="major">
              <h1>{{ .Title }}</h1>
            </header>
              <h4>{{ .Params.subhead }}</h4>
              <a href="{{ .Site.Params.baseURL }}/trainings/">back to all trainings</a>
            </p>
          </div>
        </section>

        <!-- One -->
        <section id="one">
          <div class="inner">

            {{ if .Params.logos }}
              <div class="center-space-around">
                {{ range .Params.logos }}
                  <img
                    src="{{ $.Site.Params.cdnbaseurl }}img/{{ . }}"
                    alt="{{.}}"
                  />
                {{ end }}
              </div>
            {{ end }}

            {{ .Content }}

            
            {{ partial "contact-full-width.html" . }}
          </div>
        </section>

        
      </div>

      {{ "<!-- Footer -->" | safeHTML}} {{ if .Site.Params.footer.enable }} {{ partial "footer.html" . }} {{ end }}
    </div>

    {{ "<!-- Scripts -->" | safeHTML}} {{ partial "js.html" . }}
  </body>
</html>
