{{ "<!-- Banner -->" | safeHTML}}
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>{{ .Site.Params.Banner.title }}</h1>
    </header>
    <div class="content-big">
      <p>{{ .Site.Params.Banner.subtitle }}</p>
    </div>
    <div class="content">
      <p>{{ .Site.Params.Banner.subtitle2 }}<br/>{{ .Site.Params.Banner.questionText }}</p>
    </div>
    <div class="actions">
      <a href="#one" class="button scrolly"><i class="fas fa-briefcase"></i> {{ .Site.Params.Banner.buttonText }}</a>
      <a href="#contact" class="button scrolly"><i class="far fa-envelope"></i> {{ .Site.Params.Banner.buttonText2 }}</a>
    </div>
  </div>
</section>
