{{ "<!-- Footer -->" | safeHTML}}
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            {{ range .Site.Params.Footer.social }}
                <li>
                    <a href="{{ .url | safeHTML }}" rel="noreferrer" class="icon alt" aria-label="{{ .label }}" target="_blank">
                        <i class="{{ .icon }}"></i>
                    </a>
                </li>
            {{ end }}
        </ul>
        <ul class="copyright">
            <li>&copy; {{ now.Format "2006"}} {{ .Site.Params.Footer.copyright }}</li>
            {{ range .Site.Params.Footer.quicklinks}}
                <li>{{ .text }} <a href="{{ .url | safeHTML }}">{{ .alt }}</a></li>
            {{ end }}
            <li>Last modified at {{ now.Format "2006-01-02 15:04" }}</li>
        </ul>
        <ul></ul>
    </div>
</footer>
