<h2>Kontaktadresse</h2>
<p>
  Offering Solutions Software GmbH<br />Kesselhaldenstrasse 72<br />9016 St.
  Gallen<br />Switzerland<br />mail@offering.solutions<br />+41 78 808 96 23
</p>
<h2>Vertretungsberechtigte Personen</h2>
<p>Fabian Gosebrink, Geschäftsführer</p>
<h2>Handelsregistereintrag</h2>
<p>
  Eingetragener Firmenname: Offering Solutions Software GmbH<br />Nummer:
  CHE-413.087.917
</p>
<p>
  <a
    href="https://sg.chregister.ch/cr-portal/auszug/auszug.xhtml?uid=CHE-413.087.917#"
    target="_blank"
    rel="noopener noreferrer"
    >Commercial register</a
  >
  |
  <a
    href="https://www.zefix.ch/de/search/entity/list/firm/1268106?name=Offering%20Solutions%20Software%20GmbH%20&searchType=exact"
    target="_blank"
    rel="noopener noreferrer"
    >Zentraler Firmenindex</a
  >
  |
  <a
    href="https://www.uid.admin.ch/Detail.aspx?uid_id=CHE413087917"
    target="_blank"
    rel="noopener noreferrer"
    >UID Register</a
  ><br />
</p>
<h2>Mehrwertsteuernummer</h2>
<p>CHE-413.087.917 MWST</p>
<h2>Haftungsausschluss</h2>
<p>
  Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
  Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der
  Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller
  oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.
  Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der
  Verbindung oder durch technische Störungen entstanden sind, werden
  ausgeschlossen. Alle Angebote sind unverbindlich. Der Autor behält es sich
  ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte
  Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung
  zeitweise oder endgültig einzustellen.
</p>
<h2>Haftung für Links</h2>
<p>
  Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
  Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten
  abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene
  Gefahr des Nutzers oder der Nutzerin.
</p>
<h2>Urheberrechte</h2>
<p>
  Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen
  Dateien auf der Website gehören ausschliesslich der Firma Offering Solutions
  Software GmbH oder den speziell genannten Rechtsinhabern. Für die Reproduktion
  jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im
  Voraus einzuholen.
</p>
