<h2>Angaben entsprechen dem § 5 TMG:</h2>
<p>Offering Solutions Software GmbH<br />Kesselhaldenstrasse 72<br />9016 Sankt Gallen</p>
<p>
    <a href="https://sg.chregister.ch/cr-portal/auszug/auszug.xhtml?uid=CHE-413.087.917#" target="_blank" 
                  rel="noopener noreferrer">Commercial register</a> | 
   <a href="https://www.zefix.ch/de/search/entity/list/firm/1268106?name=Offering%20Solutions%20Software%20GmbH%20&searchType=exact" target="_blank" 
                  rel="noopener noreferrer">Zentraler Firmenindex</a> | 
       <a href="https://www.uid.admin.ch/Detail.aspx?uid_id=CHE413087917" target="_blank" 
                  rel="noopener noreferrer">UID Register</a><br />
</p>
    
<h2>Vertreten durch:</h2>
<p>Fabian Gosebrink, Geschäftsführer</p>
<h2>Kontakt</h2>
<table>
  <tbody>
    <tr>
      <td>Telefonnummer:</td>
      <td>+41 78 808 96 23</td>
    </tr>
    <tr>
      <td>E-Mail Adresse:</td>
      <td>mail@offering.solutions</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<h1>Haftungsausschluss</h1>
<p><strong>Haftung für Inhalte</strong></p>
<p>
  Als Anbieter von Dienstleistungen sind wir laut § 7 Abs.1 TMG verantwortlich
  für alle eigene Inhalte die auf diesen Seiten angeboten werden. Gemäß §§ 8 bis
  10 TMG sind wir als Anbieter dagegen nicht verpflichtet, eingereichte oder
  gespeicherte Informationen anderer Quellen zu überwachen oder zu prüfen, ob
  diese auf rechtswidrige Tätigkeiten verweisen. Die Verpflichtung, die Nutzung
  von Informationen nach den allgemeinen Gesetzen zu Entfernen oder zu Sperren,
  bleiben davon jedoch unberührt. Die Haftung wäre in diesem Falle erst dann
  möglich, wenn Kenntnisse über eine konkrete Rechtsverletzung vorliegen. Sollte
  eine Rechtsverletzung bekannt werden, werden wir die entsprechenden Inhalte so
  schnell wie technisch möglich entfernen.
</p>
<p><strong>Haftung für Links Dritter</strong></p>
<p>
  Unsere Webseite enthält Links auf Webseiten anderer Anbieter. Wir haben keinen
  Einfluss auf deren Inhalte. Aus diesem Grund kann von unserer Seite keine
  Haftung oder Gewähr für diese fremden Inhalte übernommen werden. Für die
  Inhalte der jeweiligen Webseiten ist nur der entsprechende Anbieter oder
  Betreiber der Seite verantwortlich. Zum Zeitpunkt des Einfügens eines Links
  wurden die entsprechenden Seiten auf Rechtsverstöße überprüft. Zu diesem
  Zeitpunkt wurden keine rechtswidrigen Inhalte entdeckt. Aus technischen
  Gründen ist es unmöglich, alle verlinkten Seiten, ohne konkrete Anhaltspunkte
  einer Rechtsverletzung, regelmäßig zu überprüfen. Sobald uns eine
  Rechtsverletzungen bekannt wird werden wir den entsprechenden Link umgehend
  löschen.
</p>
<p><strong>Urheberrecht</strong></p>
<p>
  Alle von uns zur Verfügung gestellten Inhalte und Bilder auf den folgenden
  <a href="https://vflwolfsburgnews.de/" target="_blank">vfl wolfsburg news</a>
  unterliegen dem deutschen Urheberrecht. Vervielfältigung, Veränderung,
  Verbreitung und jegliche Form der Verwertung außerhalb der Grenzen des
  Urheberrechtes sind nur mit schriftlicher Zustimmung der Autoren oder dem
  Anbieter möglich. Das Herunterladen oder Kopieren dieser Seiten ist
  ausnahmslos nur für den privaten, nicht kommerziellen Gebrauch erlaubt.
  Inhalte der Seiten, die nicht von uns erstellt wurden, unterliegen dem
  Urheberrecht Dritter. Inhalte Dritter sind stets entsprechend gekennzeichnet.
  Sollten Sie auf unseren Seiten eine Urheberrechtsverletzung entdecken, teilen
  Sie es uns bitte mit. Sollte uns eine Rechtsverletzungen bekannt werden,
  werden wir die entsprechenden Inhalte löschen.
</p>
