

{{ "<!-- Two -->" | safeHTML}}
<section id="two">
  <div class="inner">
     <header class="major">
      <h2>What we do</h2>
    </header>
    <p>We help software developers at the beginning or during ongoing projects with coaching, development or with reviews to master 
        a project successfully. With years of experience, on-site workshops, customized training, consulting and development with 
        your team, we help you with the technical challenges of your project.
    </p>

     <header class="major">
      <h2>Our Technologies</h2>
    </header>
    <p>We work in the area of web development with Google's Angular Framework as well as with .NET Core and Entity Framework solutions, 
        which can also be hosted on Azure. From the start of the Angular application with component based architecture to 
        monorepositories with libraries and client side architecture in NX or AngularCLI workspaces with a communication to your 
        .NET Core backend up to Continuous Integration and Continuous Delivery with Azure Devops or Github Actions we support you 
        in implementing your ideas up to the final product.
    </p>
  </div>
</section>
