{{ "<!-- Scripts -->" | safeHTML}}
{{ "<!-- jQuery -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ .Site.Params.cdnbaseurl }}js/jquery.scrolly.min.js"></script>
<script src="{{ .Site.Params.cdnbaseurl }}js/jquery.scrollex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
<script src="{{ .Site.Params.cdnbaseurl }}js/util.js"></script>

<!--[if lte IE 8]><script src="{{ .Site.Params.cdnbaseurl }}js/ie/respond.min.js"></script><![endif]-->

{{ "<!-- Main JS -->" | safeHTML }}
<script src="{{ .Site.Params.cdnbaseurl }}js/main.js"></script>

{{ template "_internal/google_analytics_async.html" . }}

{{ range .Site.Params.custom_js }}
    <script src="{{ $.Site.Params.cdnbaseurl }}{{ . }}"></script>
{{ end }}


<script type="module">
import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

const el = document.createElement('pwa-update');
document.body.appendChild(el);

</script>

{{ partial "google-analytics.html" . }}