{{ "<!-- Scripts -->" | safeHTML}}
{{ "<!-- jQuery -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ .Site.Params.cdnbaseurl }}js/jquery.scrolly.min.js"></script>
<script src="{{ .Site.Params.cdnbaseurl }}js/jquery.scrollex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
<script src="{{ .Site.Params.cdnbaseurl }}js/util.js"></script>

<!--[if lte IE 8]><script src="{{ .Site.Params.cdnbaseurl }}js/ie/respond.min.js"></script><![endif]-->

{{ "<!-- Main JS -->" | safeHTML }}
<script src="{{ .Site.Params.cdnbaseurl }}js/main.js"></script>

{{ template "_internal/google_analytics_async.html" . }}

{{ range .Site.Params.custom_js }}
    <script src="{{ $.Site.Params.cdnbaseurl }}{{ . }}"></script>
{{ end }}


<script>
// This is the "Offline copy of pages" service worker

// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

// Check compatibility for the browser we're running this in
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("/pwabuilder-sw.js", {
        scope: "./"
      })
      .then(function (reg) {
        console.log("Service worker has been registered for scope: " + reg.scope);
      });
  }
}


</script>

{{ partial "google-analytics.html" . }}