 <div class="nextprevious direction">
    <div class="next">
        {{ with .nextPage }}
            {{ if eq $.categoryToShow $.currentCategory }}
                <a href="{{ .RelPermalink }}" class="button">« {{ .Params.title  | truncate 30 "..."}} </a>
            {{ end }}
        {{ end }}
    </div>

    <div class="previous">
        {{ with .previousPage }}
            {{ if eq $.categoryToShow $.currentCategory }}
                <a href="{{ .RelPermalink }}" class="button"> {{ .Params.title  | truncate 30 "..."}} » </a>
            {{ end }}
        {{ end }}
    </div>
</div>