{{ "<!-- Projects -->" | safeHTML}}
<div class="projects">
  <div class="inner">
    <header class="major center">
      <img
          src="{{ .Site.Params.cdnbaseurl }}img/academy-logo.png"
          alt="AcademyLogo" 
          class="responsive" 
      />
    </header>
    <div class="row">
      <!-- Break -->
      {{ range (where .Site.Pages "Params.category" "training") }}
      <div class="col-4 col-12-medium">
        <h3>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
        <span class="image fit"><a href="{{ .RelPermalink }}"><img src="{{ .Site.Params.cdnbaseurl }}img/{{ .Params.image }}" alt="" /></a></span>
        <p>{{ .Description | safeHTML | truncate 170}}</p>
        <ul class="actions">
          <li><a href="{{ .RelPermalink }}" class="button">See Details</a></li>
        </ul>
      </div>
      {{ end }} 
    </div>

      <p></p>
      <ul class="actions">
        <li>
          <a
            href="{{ .Site.Params.baseURLInternal }}{{ .Site.Params.Trainings.url }}"
            class="button"
            >{{ .Site.Params.Trainings.buttonText }}</a
          >
        </li>
      </ul>
  </div>
</div>