{{ "<!-- Projects -->" | safeHTML}}
<div class="projects">
  <div class="inner">
    <header class="major">
      <h2>Projects</h2>
    </header>

    <h3>Developer Academy</h3>
    <div class="img-center mb-10 w-50">
      <a href="https://developer-academy.ch" target="_blank" rel="noreferrer">
        <img src="{{ .Site.Params.cdnbaseurl }}img/academy-logo.png" alt="AcademyLogo"
      /></a>
    </div>

    <h3>Swiss Angular</h3>
    <div class="img-center w-25">
      <a href="https://swissangular.com" target="_blank" rel="noreferrer">
        <img src="{{ .Site.Params.cdnbaseurl }}img/swissangular-logo.png" alt="SwissAngularLogo"
      /></a>
    </div>
  </div>
</div>
