{{ "<!-- Two -->" | safeHTML}}
<section id="two">
  <div class="inner">
    <header class="major">
      <h2>{{ .Site.Params.Two.title}}</h2>
    </header>
    <p>{{ .Site.Params.Two.subtitle }}</p>
    <div class="row">
      <!-- Break -->
      {{ range first 12 (where .Site.Pages "Params.category" "blog").ByDate.Reverse }}
      <div class="12u blog-short">
        <div class="blog-short-title"><a href="{{ .RelPermalink }}">{{ .Title }} </a> </div>
        <span class="blog-short-description"> 
          <a href="{{ .RelPermalink }}">{{ .Content | safeHTML | truncate 125}}</a>
        </span>
        <div class="blog-short-date"> 
            {{ dateFormat "Jan 2, 2006" .Date }} - reading time {{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}
          </div>
      </div>
      {{ end }}
    </div>
    <p></p>
    <ul class="actions">
      <li>
        <a
          href="{{ .Site.Params.baseURLInternal }}{{ .Site.Params.Two.url }}"
          class="button"
          >{{ .Site.Params.Two.buttonText }}</a
        >
      </li>
    </ul>
  </div>
</section>
