<html>
  {{ "<!-- Header -->" | safeHTML }}
  {{ partial "header.html" . }}

  <body>
    {{ "<!-- Wrapper -->" | safeHTML }}
    <div id="wrapper">
      {{ partial "nav.html" . }}

      {{ "<!-- Main -->" | safeHTML }}
      <div id="main">
        <section id="banner" class="style2">
          <div class="inner">
           
            <header class="major">
              <h1>{{ .Title }}</h1>
            </header>
            <div class="content">{{ .Content }}</div>
          </div>
        </section>

        <div style="height: 30%;">
            {{ partial "newsletter.html" . }}
        </div>
      
      </div>

      {{ "<!-- Footer -->" | safeHTML}}
      {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
      {{ end }}
    </div>

    {{ "<!-- Scripts -->" | safeHTML}}
    {{ partial "js.html" . }}
  </body>
</html>
