<html>
  {{ "<!-- Header -->" | safeHTML }}
  {{ partial "header.html" . }}

  <body>
    {{ "<!-- Wrapper -->" | safeHTML }}
    <div id="wrapper">
      {{ partial "nav.html" . }}

      {{ "<!-- Main -->" | safeHTML }}
      <div id="main">
        <section id="banner" class="style2">
          <div class="inner">
            {{ if .Params.image }}
            <span class="image">
              <img
                src="{{ .Site.Params.baseURL }}/img/{{ .Params.image }}"
                alt=""
              />
            </span>
            {{ end }}
            <header class="major">
              <h1>{{ .Title }}</h1>
            </header>
            <div class="content">{{ .Content }}</div>
          </div>
        </section>

        <section id="two" class="spotlights">
            <input
                        type="text"
                        name="demo-name"
                        class="searchinput"
                        id="demo-name"
                        value=""
                        placeholder="Search blogs..."
                      />
          {{ $paginator := .Paginate (where .Site.Pages "Type" "blog") }}
          {{ range .Paginator.Pages.ByDate.Reverse }}
          <section>
            <div class="content">
              <div class="inner">
                <header class="major-no-line">
                  <h3>
                    <a href="{{ .URL }}">{{ .Title }}</a>
                  </h3>
                </header>
                <p>
                  {{ partial "readingtime.html" . }}
                  {{ dateFormat "Monday, Jan 2, 2006" .Date }}
                  {{ if gt .Params.Tags 1 }}
                  {{ range .Params.Tags }}
                  <a href="{{ delimit (slice "/tags/" (urlize .) $.Site.Params.ugly) "" | relURL }}">{{ . }}</a>
                  {{ end }}
          
                  {{ end }}
                </p>
                <p>{{ .Description | safeHTML | truncate 100}}</p>
                <ul class="actions">
                  <li><a href="{{ .URL }}" class="button">Read more</a></li>
                </ul>
              </div>
            </div>
          </section>
          {{ end }}
        </section>
       
      
        {{ partial "pagination.html" . }}
      </div>

      {{ "<!-- Footer -->" | safeHTML}}
      {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
      {{ end }}
    </div>

    {{ "<!-- Scripts -->" | safeHTML}}
    {{ partial "js.html" . }}
  </body>
</html>
