<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ "<!-- Header -->" | safeHTML }}
  {{ partial "header.html" . }}

  <body>
    {{ "<!-- Wrapper -->" | safeHTML }}
    <div id="wrapper">
      {{ partial "nav.html" . }}

      {{ "<!-- Main -->" | safeHTML }}
      <div id="main">
        <section id="banner" class="style2 center-image">
          <div class="inner">
            {{ if .Params.image }}
            <span class="image">
              <img
                src="{{ .Site.Params.cdnbaseurl }}img/{{ .Params.image }}"
                alt="defaultListImage"
              />
            </span>
            {{ end }}
            <header class="major">
              <h1>{{ .Title }}</h1>
            </header>
          </div>
        </section>
        <div id="main" class="alt">

            <!-- One -->
            <section id="one">
                <div class="inner">
            
                    <div class="row">
                        <div class="col-12">
                            {{$list := (where .Site.Pages "Params.category" "talks")}}
                            {{$len := (len $list)}}

                            <h2>{{ .Site.Params.talks.excerptText }} ({{ $len }})</h2>
                            <ul class="alt"> 
                              {{ range ($list) }}

                                {{ if gt .Date now.UTC  }}
                                  <li class="talk-item">
                                    <span class="talk-title">
                                      Upcoming: {{ .Title }}
                                    </span>    
                                    <br/>
                                    {{ dateFormat "Monday, Jan 2, 2006" .Date }} - {{ if .Params.link }}<a href="{{.Params.link}}"> {{ .Params.event }}</a>{{ else }} {{ .Params.event }}{{ end }}<br/>
                                    Tags: {{ delimit .Params.tags ", " }}
                                  </li>
                                {{end}}

                                {{ if lt .Date now.UTC  }}
                                  <li class="talk-item">
                                    <span class="talk-title">
                                      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                    </span>    
                                    <br/>
                                    {{ dateFormat "Monday, Jan 2, 2006" .Date }} - {{ if .Params.link }}<a href="{{.Params.link}}"> {{ .Params.event }}</a>{{ else }} {{ .Params.event }}{{ end }}<br/>
                                    Tags: {{ delimit .Params.tags ", " }}
                                  </li>
                                {{end}}


                              {{ end }} 
                            </ul>

                        </div>
                    </div>
                </div>
            </section>
      </div>

      {{ "<!-- Footer -->" | safeHTML}}
      {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
      {{ end }}
    </div>

    {{ "<!-- Scripts -->" | safeHTML}}
    {{ partial "js.html" . }}
  </body>
</html>
