body {
  background: #303138;
}

.tiles article {
  width: 50%;
}

.tiles article:nth-child(4n - 1) {
  width: 50%;
}

.tiles article:nth-child(4n - 2) {
  width: 50%;
}

#banner:after {
  -moz-transition: opacity 2.5s ease;
  -webkit-transition: opacity 2.5s ease;
  -ms-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  background-color: #232635;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#banner.style2:after {
  background-color: #33587a;
}

#menu {
  background: rgba(0, 0, 0, 0.5);
}

#header .logo {
  margin-top: 3px;
}

.tiles article:nth-child(6n - 5):before {
  background-color: #33587a;
}

.tiles article:nth-child(6n - 4):before {
  background-color: #273c64;
}

.tiles article:nth-child(6n - 3):before {
  background-color: #5b6c7c;
}

.tiles article:nth-child(6n - 2):before {
  background-color: #3e6986;
}

.tiles article:nth-child(6n - 1):before {
  background-color: #292e3b;
}

.tiles article:nth-child(6n):before {
  background-color: #87c5a4;
}

.img-center {
  display: block;
  margin: auto;
}

.img-center > a {
  border: none;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.no-border-bottom {
  border-bottom: none;
}

.projects {
  background-color: #292e3b;
}

.spotlights > section {
  background-color: rgb(59, 77, 93);
}

.spotlights > section:nth-child(2n) {
  background-color: rgb(67, 90, 110);
}

.spotlights > section > .image {
  width: 100%;
}

.spotlights > section > .content {
  width: 100%;
}

#banner > .inner .content-big p {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

header.major-no-line > :first-child:after {
  content: '';
}

.pagination {
  text-align: center;
}

.searchinput {
  background-color: rgb(59, 77, 93);
}

#blogPosts > ul {
  list-style: none;
}


#one .center {
  display: flex; 
  justify-content: center;
  margin-top:10px; 
}

#one .pluralsight-logo {
  background-color: white;
  margin-bottom:10px;
  width: 30%;
  height: auto;
}

#one .divider {
  height: 10px; 
  width:80%; 
  border-bottom:1px dotted gray; 
  margin-left: auto; 
  margin-right: auto;
}

