body {
  background: #303138;
}

.tiles article {
  width: 50%;
}

.tiles article:nth-child(4n - 1) {
  width: 50%;
}

.tiles article:nth-child(4n - 2) {
  width: 50%;
}

#banner:after {
  -moz-transition: opacity 2.5s ease;
  -webkit-transition: opacity 2.5s ease;
  -ms-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  background-color: #232635;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#banner.style2:after {
  background-color: #33587a;
}

#menu {
  background: rgba(0, 0, 0, 0.5);
}

#header .logo {
  margin-top: 1em;
  min-width: 20%;
}

.blog-short {
  margin: 25px 0px;
}

.blog-short > span > a > p {
  margin: 0px;
}

.blog-short-title {
  font-size: 2.3rem;
  cursor: pointer;
}

.blog-short-description {
  font-size: 1.2rem;
}

.blog-short-date {
  font-size: 1rem;
}

.tiles article:nth-child(6n - 5):before {
  background-color: #33587a;
}

.tiles article:nth-child(6n - 4):before {
  background-color: #273c64;
}

.tiles article:nth-child(6n - 3):before {
  background-color: #5b6c7c;
}

.tiles article:nth-child(6n - 2):before {
  background-color: #3e6986;
}

.tiles article:nth-child(6n - 1):before {
  background-color: #292e3b;
}

.tiles article:nth-child(6n):before {
  background-color: #87c5a4;
}

.img-center {
  display: block;
  margin: auto;
}

.img-center > a {
  border: none;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.no-border-bottom {
  border-bottom: none;
}

.projects {
  background-color: #292e3b;
}

.spotlights > section {
  background-color: rgb(59, 77, 93);
}

.spotlights > section:nth-child(2n) {
  background-color: rgb(67, 90, 110);
}

.spotlights > section > .image {
  width: 100%;
}

.spotlights > section > .content {
  width: 100%;
}

#banner > .inner .content-big p {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

header.major-no-line > :first-child:after {
  content: '';
}

.pagination {
  text-align: center;
}

.searchinput {
  background-color: rgb(59, 77, 93);
}

#blogPosts > ul {
  list-style: none;
}

#one .center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#one .pluralsight-logo {
  background-color: white;
  margin-bottom: 10px;
  width: 30%;
  height: auto;
}

#one .divider {
  height: 10px;
  width: 80%;
  border-bottom: 1px dotted gray;
  margin-left: auto;
  margin-right: auto;
}

#banner > .inner .content p {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.responsive {
  width: 100%;
  height: auto;
}

.full-width {
  width: 100%;
}

.width-80 {
  width: 80%;
  margin: auto;
}

.logo-bar {
  background-color: rgb(241, 241, 241);
  color: rgb(59, 77, 93);
}

.logo-bar .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 15em;
}

.logo-bar .center > img, a img {
  max-width: 400px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.newsletter {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(59, 77, 93, 0.336);
  color: #303138;
}

.newsletter .newsletter-form {
  width: 80%;
  margin: auto;
}

.newsletter .newsletter-form .button.primary {
  margin-top: 20px;
}

.newsletter .newsletter-form input {
  background-color: white;
}

.projects .inner .center {
  width: 60%;
  margin: auto;
}

.projects .inner .major {
  margin-bottom: 100px;
}

.image-line { 
  position: relative; 
  height: 60vh;
  max-height: 32em;
  min-height: 22em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/20191120_160016-e1613416406528.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.image-line::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;    
  background-color: rgba(35,53,77, 0.7);
  align-items: center;
  justify-content: center;
}

.image-line .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #ffffff;  
  text-align: center;
  align-items: center;
  justify-content: center;
}

#contact > .inner .actions {
  margin-top: 20px;
}

/* @media screen and (max-width: 600px) {
  .nav-responsive {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
} */
