body {
    background: #303138;
}

.tiles article {
    width: 50%;
}

.tiles article:nth-child(4n - 1)  {
    width: 50%;
}


.tiles article:nth-child(4n - 2) {
    width: 50%;
}

#banner:after {
    -moz-transition: opacity 2.5s ease;
    -webkit-transition: opacity 2.5s ease;
    -ms-transition: opacity 2.5s ease;
    transition: opacity 2.5s ease;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background-color: #232635;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header .logo {
    margin-top: 3px;
}