<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "blog-header.html" . }}
  <body>
    {{ "<!-- Wrapper -->" | safeHTML }}
    <div id="wrapper">
      {{ partial "nav.html" . }} {{ "<!-- Main -->" | safeHTML }}
      <div id="main" class="alt">
        <div class="bottom">
          <div class="progress-container">
            <div class="progress-bar" id="scrollingbar"></div>
          </div>
        </div>
        <section id="banner" class="style2">
          <div class="inner">
            {{ if .Params.image }}
            <span class="image">
              <img
                src="{{ .Site.Params.cdnbaseurl }}img/blog/{{ .Params.image }}"
                alt="blog header image"
              />
            </span>
            {{ end }}
            <header class="major">
              <h1>{{ .Title }}</h1>
            </header>
            <h6>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</h6>
            <p>
              {{ partial "readingtime.html" . }}

              <a href="{{ .Site.Params.baseURLInternal }}blog/">back to all blogs</a>
            </p>
          </div>
        </section>

        <!-- One -->
        <section id="one">
          <div class="center">
            <span
              class="image pluralsight-logo"
              title="Check out my pluralsight courses"
            >
              <a
                href="https://app.pluralsight.com/profile/author/fabian-gosebrink"
                style="border-bottom: none;"
                target="_blank"
                rel="noreferrer"
              >
                <img
                  src="{{ .Site.Params.cdnbaseurl }}img/PS_logo_F-01.png"
                  alt="pluralsightlogo"
                  class="responsive"
                />
              </a>
            </span>
          </div>
          <div class="divider"></div>
          <div class="inner">
            {{ .Content }}
          </div>
        </section>

				{{ partial "newsletter.html" . }}
        
        {{ "<!-- Disqus Inject -->" | safeHTML }} {{ if .Site.DisqusShortname }}
        {{ partial "disqus.html" . }} {{ end }}
      </div>

      {{ "<!-- Footer -->" | safeHTML}} {{ if .Site.Params.footer.enable }} {{ partial "footer.html" . }} {{ end }}
    </div>

    {{ "<!-- Scripts -->" | safeHTML}} {{ partial "js.html" . }}
  </body>
</html>

